/* CSS Document */

body {

	margin:0px;

	text-align:center;

}

/* ERRO DE FORMULARIO */



#div_erro {

	text-align:center;

	color:#FF0000;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

}



/* FIM DO ERRO */

/* TITULO */

.titulo {

	color:#FFFFFF;

	width:778px;

	background-color:#00552B;

	text-align:center;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	height:20px;

	padding-left:30px;

}

/* FIM DO TITULO */



/* TEXTO */

.texto {

	text-align:left;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

}

.texto2 {

	text-align:center;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

}



/* FIM DO TEXTO */



/* FORMULÁRIO */

input, select, textarea {

	border:1px solid #CCCCCC;

	background-color:#FFFFFF;

}

.cor_tr tr {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

} 

/* FIM DO FORMULÁRIO */



/* TABELA COM O FUNDO BRANCO */

.tbl_fundo_branco {

	background-color:#FFFFFF;

}

/* FIM DA TABELA COM O FUNDO BRANCO */



/* TOPO */



.topo {

	background-image:url(../images/topo.jpg);

	width:778px;

	height:103px;

}

/* FIM DO TOPO */



/* MENU */



.menu {

	background-color:#00552B;

}

/* FIM DO MENU */





a:link {

	color:#006666;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	text-decoration:none;

	text-align:left;

}

a:visited {

	color:#006666;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	text-decoration:none;

	text-align:left;

}

a:hover {

	color:#006666;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	text-decoration:none;

	text-align:left;

}

/* RODAPE */

.rodape {

	background-image:url(../images/rodape.jpg);

	background-position:right;

	background-repeat:no-repeat;

	background-color:#F2F2F2;

	height:93px;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

}

/* FIM DO RODAPE */

/* TEXTO COM PRIMEIRA LETRA EM MAIÚSCULA */

.upper {

	text-transform:uppercase;

}

